$navbar-height: 6rem;
$sidebar-width: 7rem;
$main_color: white;
$main_color1: rgba(45, 52, 54,1.0);

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-center-1 {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}
