$navbar-height: 6rem;
$sidebar-width: 7rem;
$main_color: white;

flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

flex1 {
  display: flex;
  align-items: center;
}

flex2 {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}
